[Unit]
Description=TESC Server Petition Service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/srv/git/TESC-Farm/noservice
ExecStart=/srv/git/TESC-Farm/noservice/petitionform
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=petitionform
User=shawn
Group=www-data
EnvironmentFile=/etc/environment
Environment="GOROOT=/home/shawn/go"

[Install]
WantedBy=multi-user.target
